<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8" />
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="expires" content="0">

		<title>十六米的世界</title>

		<!-- Core CSS - Include with every page -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="font-awesome/css/font-awesome.css">

		<!-- SB Admin CSS - Include with every page -->
		<link rel="stylesheet" href="css/sb-admin.css">

		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/animation.css">
		<link rel="shortcut icon" href="/favicon.ico">
	</head>

	<body ng-controller="MabiCtrl">
		<div id="wrapper">
			<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">十六米的世界</a>
				</div>
				<!-- /.navbar-header -->
			</nav>
			<!-- /.navbar-static-top -->
			<nav class="navbar-default navbar-static-side" role="navigation">
				<div class="sidebar-collapse">
					<ul class="nav" id="side-menu">
						<li class="active">
							<a href="#"><i class="fa fa-github-alt fa-fw"></i> 嘎嘎小鴨 <span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li>
									<a ng-click="switchIframe(0)" href="#">貿易計算雞</a>
								</li>
								<li class="hide">
									<a ng-click="switchIframe(1)" href="#">扣強賦予</a>
								</li>
								<li>
									<a ng-click="switchIframe(2)" href="#">魔女面具</a>
								</li>
							</ul>
							<!-- /.nav-second-level -->
						</li>
						<li>
							<a href="#"><i class="fa fa-bug fa-fw"></i> 噗啾圓仔<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li>
									<a href="http://mabinogi.fws.tw/" target="_blank">Mabinogi奇幻世界</a>
								</li>
								<li>
									<a href="https://docs.google.com/a/inventalk.com.tw/spreadsheet/ccc?key=0AmYaqEn_Pcx6dFVoSm12UWRuLVc3dVY5XzdrZWxObVE&usp=sharing#gid=0" target="_blank">背包整理</a>
								</li>
								<li>
									<a href="http://forum.gamer.com.tw/G2.php?bsn=07422&parent=4516&sn=13479&lorder=2&ptitle=%E6%89%8B%E5%B7%A5%E8%97%9D%E4%BF%AE%E7%B7%B4%E5%BF%83%E5%BE%97" target="_blank">手工藝修煉</a>
								</li>
								<li>
									<a href="http://mabinogi.fws.tw/how_sys_collection_diary_fishing.php" target="_blank">釣魚日誌</a>
								</li>
								<li>
									<a href="http://global.erinn.biz/shopboard.php?altsv=mabitw4" target="_blank">房屋看板</a>
								</li>
								<li>
									<a href="http://weather.erinn.biz/smuggler.php" target="_blank">走私販情報</a>
								</li>
								<li>
									<a href="http://tw.beanfun.com/mabinogi/index.aspx" target="_blank">瑪奇官網</a>
								</li>
							</ul>
							<!-- /.nav-second-level -->
						</li>
					</ul>
					<!-- /#side-menu -->
				</div>
				<!-- /.sidebar-collapse -->
			</nav>
			<!-- /.navbar-static-side -->

			<div id="page-wrapper" style="height:{{pageH}}px">
				<!--<iframe id="iframe1" ng-src="{{iframeUrl}}" ng-init="iframeUrl = 'ducat/'" frameborder="0" scrolling="no" seamless></iframe>-->
				<iframe ng-repeat="if in iframes" id="iframe{{$index}}" ng-src="{{if.url}}" ng-show="if.show" frameborder="0" scrolling="no" seamless repeat-done="layoutDone()" class="check-element animate-show"></iframe>
			</div>
			<!-- /#page-wrapper -->

		</div>
		<!-- /#wrapper -->

		<!-- Core Scripts - Include with every page -->
		<script src="js/jquery-1.10.2.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

		<!-- Page-Level Plugin Scripts - Blank -->

		<!-- SB Admin Scripts - Include with every page -->
		<script src="js/sb-admin.js"></script>

		<script src="js/angular.min.js"></script>
		<script src="js/angular-animate.min.js"></script>
		<script src="js/mabi.js"></script>
	</body>

</html>
