* {font-family:"微軟正黑體",Arial !important;font-size:16px!important;}
.w60{width:60px;}
.w100{width:100px;}
.w120{width:120px;}
.w200{width:200px;}
.cou_txt1 { background-color:#eef6fc; font-weight:bold;}
.cou_txt2{ background:url(cou2.jpg) left top repeat-y;}
.se_txt { color:#1b97c2;}
.CC {text-align: center;}
.m20{margin:20px;}
.crimson{color:crimson;font-weight:bold;}

table, th, td {
border: 1px solid lightgray;
border-spacing:2px;
}
