<section class="ducat" ng-controller="ducatCtrl">
    <header>
        <h2>貿易獲利</h2>
    </header>
    <div class="m20">
        <tabset>
            <tab ng-repeat="city in citys" heading="{{city[0]}}">
                <br />
                <p>
                    {{city[1]}}
                </p>
                <table class="calculate">
                    <thead>
                        <tr class="se_txt cou_txt1">
                            <th class="w200 cou_txt2 CC">貨品</th>
                            <th>利潤</th>
                            <th class="w100">人力</th>
                            <th class="w100">手拉車</th>
                            <th class="w100">小馬車</th>
                            <th class="w100">大啊象</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="good in city[2]">
                            <td>{{good[0]}} {{good[1]}}</td>
                            <td>
                                <input type="text" ng-model="good[2]" class="w60" ng-change="init()" select-on-click />
                            </td>
                            <td>{{ city[3][$index][0] }}</td>
                            <td>{{ city[3][$index][1] }}</td>
                            <td ng-class="{crimson: city[3][$index][2] >= city[3][$index][3]}">{{ city[3][$index][2] }}</td>
                            <td ng-class="{crimson: city[3][$index][2] < city[3][$index][3]}">{{ city[3][$index][3] }}</td>
                        </tr>
                    </tbody>
                </table>
            </tab>
        </tabset>
        <p>
            <h4><input type="checkbox" ng-model="partner" ng-change="init()" />
                貿易夥伴</h4>

            <h4><input type="checkbox" ng-model="alpaca" ng-change="init()" />
                草泥馬</h4>
        </p>
    </div>
    <p>
        <table>
            <tbody>
                <tr>
                    <td valign="top">
                        <br />
                        <table cellspacing="0" cellpadding="6" border="1">
                            <tbody>
                                <tr>
                                    <td>採集農場石的妖魔</td>
                                    <td>(exp 2500)*3隻</td>
                                    <td>防1保0 </td>
                                </tr>
                                <tr>
                                    <td>留守的哥布林</td>
                                    <td>(exp 3000)*2隻</td>
                                    <td>&#12288; </td>
                                </tr>
                                <tr>
                                    <td>留守的哥布林弓箭手</td>
                                    <td>(exp 3000)*2隻</td>
                                    <td>&#12288; </td>
                                </tr>
                                <tr>
                                    <td>照顧田的人類</td>
                                    <td>(exp 3500)*3隻</td>
                                    <td>防5保0 </td>
                                </tr>
                                <tr>
                                    <td>砍柴的巨人</td>
                                    <td>(exp 4000)*3隻</td>
                                    <td>防5保0 </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </td>
                    <td width="20"></td>
                    <td>
                        <br />
                        <table cellspacing="0" cellpadding="6" border="1">
                            <tbody>
                                <tr>
                                    <td>(人類)</td>
                                    <td>不明身分 葛魯奇</td>
                                    <td>(exp 14400)</td>
                                    <td>生命25000</td>
                                    <td>&#12288; </td>
                                </tr>
                                <tr>
                                    <td>(地靈)</td>
                                    <td>猛毒的 奇蘭</td>
                                    <td>&#12288;</td>
                                    <td>生命25000、保護30</td>
                                    <td>&#12288; </td>
                                </tr>
                                <tr>
                                    <td>(妖魔)</td>
                                    <td>搜刮 克萊傑</td>
                                    <td>&#12288;</td>
                                    <td>&#12288;</td>
                                    <td>&#12288; </td>
                                </tr>
                                <tr>
                                    <td>(魔女)</td>
                                    <td>搶奪女俠 魅魯賓</td>
                                    <td>(exp 16000)</td>
                                    <td>生命30000、保護40</td>
                                    <td>重暴會掉面具，解除3種PD </td>
                                </tr>
                                <tr>
                                    <td>(食人魔)</td>
                                    <td>獨眼 佩勒斯</td>
                                    <td>&#12288;</td>
                                    <td>生命35000、保護30</td>
                                    <td>&#12288; </td>
                                </tr>
                                <tr>
                                    <td>(魔法精靈)</td>
                                    <td>吝嗇鬼 狄更斯</td>
                                    <td>(exp 17000)</td>
                                    <td>生命50000</td>
                                    <td>&#12288; </td>
                                </tr>
                                <tr>
                                    <td>(廚師食人魔)</td>
                                    <td>兇惡的 華拉杜魯</td>
                                    <td>(exp 18000)</td>
                                    <td>生命50000、保護20</td>
                                    <td>&#12288; </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </td>
                </tr>
            </tbody>
        </table>
    </p>
    <br />
    <footer>
        <p>
            &copy; Copyright by 十六夜
        </p>
    </footer>
</section>
